<h1>Login</h1>

<%= render 'form' %>

<<<<<<< HEAD
=======
<h2>Forgot Password?</h2>
<%= render 'forgot_password_form' %>

>>>>>>> 55ac9abb6d21265feb05f9791e7f7443386769fd
<%= link_to 'Back', user_sessions_path %>